.header {
  position: fixed;
  top:0;
  left: 0;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 5em;
  background-color: yellow;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5em;
  height:5em;
  background: salmon;
  border-radius: 1em;
}

i {
  object-fit: cover;
  font-size: 3em;
  filter: invert(100%);
}

/* .header .logo { */
.header h1 {
  /* width: 100%;
  height: 100%; */
  background-color: green;
  font-size: 30px;
  text-align: center;
}

.header .nav {
  justify-content: space-around;
  align-items: center;
  height: 5em;
  width: 35%;
  min-width: 15em;
}
