body {
  margin: 0;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: rgba(0,0,0,0.6);
  transition: 0.3s;
}

a:hover {
  color: rgba(0,0,0,1);
}

.App {
  margin-top: 3.5em;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row-rev {
  display: flex;
  flex-direction: row-reverse;
}
